*{
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;

}

body, h1, ul{

	margin: 0px;
	font-family: verdana;
	padding: 0;
}

.banner{

	height: 670px;
	background-image: url(../images/2.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}



.banner nav{

	background-color: rgba(000, 000, 000, 0.8);
	opacity: 0.6;
	float: right;
	width: 450px;
	height: 50px;
	margin-right: 50px;
	margin-top: 20px;
	border-bottom-left-radius: 15px; 
	border-bottom-right-radius: 15px;
	position: fixed;
	top: -20px;
	right: 50px;
}

.banner nav ul li{
	float: left;
	list-style-type: none;
}

.banner nav ul li a{

	text-decoration: none;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	padding-right: 10px;
	padding-top: 12px;
	padding-left: 35px;
	display: block;

}

.banner header h1{

	position: relative;
	top: 400px;
	left: 0;
	color: #edf1fc;
	padding-left: 20px;
	text-shadow: 4px 4px 2px #000;
	border-bottom: 3px #b8282e solid;
	padding-bottom: 15px;
	display: inline;
}

.section1 {

	padding: 30px 25px;
	text-align: justify;
	background-color: #d0e0f7;
	color: #041e48;
}

.section1 h1 {

	border-bottom: 3px solid #b8282e;
	padding-bottom: 15px;
	display: inline;
}

.section1 .top{

	padding-top: 20px;
}

.para{
		height: 700px;
	background-image: url(../images/4.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 30px 25px;
	color: #d0e0f7;
}

.para h1 {

	border-bottom: 3px solid #b8282e;
	padding-bottom: 10px;
	display: inline;
}

.para ul{

	background-color: rgba(000, 000, 000, 0.8);
	display: inline-block;
	padding-top: 30px;
	padding-left: 15px;
	padding-right: 12px;
	margin-top: 50px;
	margin-bottom: 20px;
	position: relative;
	left: 500px;
	top: 10px;
	border-radius: 10px;

}

.para ul li{
	list-style-type: none;
	padding-bottom: 20px;
	text-align: center;
}

.para .sub-para p{

	background-color: rgba(000, 000, 000, 0.8);
	float: left;
	padding: 16px;
	border-radius: 10px;

}


.section2 {

	padding: 30px 25px;
	text-align: justify;
	background-color: #d0e0f7;
	color: #041e48;
}

.section2 h1 {

	border-bottom: 3px solid #b8282e;
	padding-bottom: 15px;
	display: inline;
}

.section2 .top2{

	padding-top: 20px;
}






.contact{

		height: 700px;
	background-image: url(../images/2.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 30px 25px;
	
}

.contact h1{

	position: relative;
	top: 250px;
	left: 0;
	color: #edf1fc;
	padding-left: 20px;
	text-shadow: 4px 4px 2px #000;
	border-bottom: 3px #b8282e solid;
	padding-bottom: 15px;
	display: inline;
}


.contact form {

	margin-top: 300px;
	margin-left: 20px;
}

.contact form input{

	width: 285px;
	margin-bottom: 5px;
	height: 35px;
	background-color: #fff;
	border: none;
	padding: 5px;
	color: #000;

}



.contact form textarea{

	width: 285px;
	margin-bottom: 25px;
	height: 80px;
	background-color: #fff;
	border: none;
	text-align: left;
	padding: 5px;
	color: #000;

}

.contact form input[type="submit"]{

	width: 80px;
	color: #000;
	margin-right: 5px;
	border-radius: 5px;
	
}

.contact form input[type="reset"]{

	width: 80px;
	color: #000;
	border-radius: 5px;

}